<h3 class="mt-3">Grupos</h3>

<a class="btn bg-primary mb-2" [routerLink]="['/maintainer/groups/create']">Crear Grupo</a>

<table class="table table-stripped table-bordered">
  <thead class="bg-primary">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of getPaginatedData(); let i = index">
      <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
      <td>{{group.name}}</td>
      <td>
        <a [routerLink]="['/maintainer/groups/edit/', group.id]" class="btn bg-primary me-2">
          <fa-icon [icon]="faEdit"></fa-icon> Editar
        </a>
        <a class="btn"
           [ngClass]="group.active ? 'bg-danger' : 'bg-success'"
           (click)="toggle(group.id!)">
          <fa-icon [icon]="faPowerOff"></fa-icon>
          {{ group.active ? 'Desactivar' : 'Activar' }}
        </a>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }"><a class="page-link" (click)="setPage(currentPage - 1)">Anterior</a></li>
    <li class="page-item" *ngFor="let page of range(1)" [ngClass]="{ 'active': currentPage === page }">
      <a class="page-link" (click)="setPage(page)">{{ page }}</a>
    </li>
    <li class="page-item" [ngClass]="{ 'disabled': currentPage === nPage() }"><a class="page-link" (click)="setPage(currentPage + 1)">Siguiente</a></li>
  </ul>
</nav>
