
@if (!(isAuthenticated())) {
<div ngbDropdown class="d-inline-block">
  <button class="btn btn-link text-light p-0" id="loginDropdown" ngbDropdownToggle>
     <i class="bi bi-person-circle fs-4"></i>
  </button>

  <div ngbDropdownMenu [attr.aria-labelledby]="'loginDropdown'" class="dropdown-menu dropdown-menu-end">
    <button ngbDropdownItem [routerLink]="['/login']">
      <i class="bi bi-box-arrow-in-right"></i>
      Iniciar Sesión
    </button>
    <button ngbDropdownItem [routerLink]="['/register']">
      <i class="bi bi-person-plus"></i>
      Registrarse
    </button>
  </div>
</div>
}
    
@if (isAuthenticated()) {
<div ngbDropdown class="d-inline-block">
  <button class="btn btn-link text-light p-0" id="authenticatedDropdown" ngbDropdownToggle>
     <i class="bi bi-person-circle fs-4"></i>
  </button>

  <div ngbDropdownMenu [attr.aria-labelledby]="'authenticatedDropdown'" class="dropdown-menu dropdown-menu-end">
    <button ngbDropdownItem [routerLink]="['/profile']">
      <i class="bi bi-person"></i> 
      Perfil
    </button>
    <button ngbDropdownItem (click)="logout()">
      <i class="bi bi-box-arrow-right"></i> 
      Cerrar Sesión
    </button>
  </div>
</div>
}