
    <h1>Categorias Populares</h1>
    <div id="myCarousel" class="carousel slide"  data-bs-touch="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-3">
              <div class="card">
                <img src="https://s.cdnshm.com/img/cat_slide/83.png" class="card-img-top" alt="Imagen 1">
                <div class="card-body">
                  <h5 class="card-title">Tarjeta 1</h5>
                  <p class="card-text">Contenido de la tarjeta 1.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                  <img src="https://s.cdnshm.com/img/cat_slide/83.png" class="card-img-top" alt="Imagen 1">
                  <div class="card-body">
                    <h5 class="card-title">Tarjeta 1</h5>
                    <p class="card-text">Contenido de la tarjeta 1.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card">
                  <img src="https://s.cdnshm.com/img/cat_slide/83.png" class="card-img-top" alt="Imagen 1">
                  <div class="card-body">
                    <h5 class="card-title">Tarjeta 1</h5>
                    <p class="card-text">Contenido de la tarjeta 1.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card">
                  <img src="https://s.cdnshm.com/img/cat_slide/83.png" class="card-img-top" alt="Imagen 1">
                  <div class="card-body">
                    <h5 class="card-title">Tarjeta 1</h5>
                    <p class="card-text">Contenido de la tarjeta 1.</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="carousel-item">
            <div class="row">
              <div class="col-lg-3">
                <div class="card">
                  <img src="https://s.cdnshm.com/img/cat_slide/5.png" class="card-img-top" alt="Imagen 1">
                  <div class="card-body">
                    <h5 class="card-title">Tarjeta 1</h5>
                    <p class="card-text">Contenido de la tarjeta 1.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                  <div class="card">
                    <img src="https://s.cdnshm.com/img/cat_slide/5.png" class="card-img-top" alt="Imagen 1">
                    <div class="card-body">
                      <h5 class="card-title">Tarjeta 1</h5>
                      <p class="card-text">Contenido de la tarjeta 1.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card">
                    <img src="https://s.cdnshm.com/img/cat_slide/5.png" class="card-img-top" alt="Imagen 1">
                    <div class="card-body">
                      <h5 class="card-title">Tarjeta 1</h5>
                      <p class="card-text">Contenido de la tarjeta 1.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="card">
                    <img src="https://s.cdnshm.com/img/cat_slide/5.png" class="card-img-top" alt="Imagen 1">
                    <div class="card-body">
                      <h5 class="card-title">Tarjeta 1</h5>
                      <p class="card-text">Contenido de la tarjeta 1.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
