<div class="card mt-3">
    <div class="card-header bg-primary">
      Crear Inventario
    </div>
    <div class="card-body">
      <form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
    
        <div class="mb-3">
          <label for="productId" class="form-label">Productos:</label>
          <ng-select id="productId" formControlName="productId" bindLabel="name" bindValue="id" [items]="products()">
          </ng-select>
        </div>

        <div class="mb-3">
          <label for="storeId" class="form-label">Tiendas:</label>
          <ng-select id="storeId" formControlName="storeId" bindLabel="name" bindValue="id" [items]="stores()">
          </ng-select>
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Precio:</label>
          <input type="number" class="form-control" id="price" formControlName="price" required/>
        </div>
  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="inventoryForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
  </div>