<div class="card mt-3">
    <div class="card-header bg-primary">
      {{isEditMode ? "Editar" : "Crear"}} Categoria
    </div>
    <div class="card-body">
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

        <app-custom-input
          label="Nombre"
          [control]="$any(categoryForm.get('categoryName'))"
          placeHolder="Nombre"
          type="text"
          errorMessage="El nombre es requerido"
        />

  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="categoryForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
  </div>