
<div class="card ">
  <div class="card-header text-white bg-primary">{{title}}</div>
  <div class="card-body">
    <div class="form-group form-inline">
      <button ngbButton class="btn-primary" (click)="newItem()">Nuevo</button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th *ngFor="let item of columns" >
            {{item.title}}
          </th>
        </tr>
      </thead>
      <tbody>

      </tbody>

    </table>

 </div>
</div>



