<div class="card mt-3">
    <div class="card-header bg-primary">
      Crear Fabricante
    </div>
    <div class="card-body">
      <form [formGroup]="manufacturerForm" (ngSubmit)="onSubmit()">
    
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>
  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="manufacturerForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
  </div>