<!-- <header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Web</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header> -->


<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0033aa;">
  <div class="container">

    <a class="navbar-brand" href="/" style="color: white;">Logo de tu página</a>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="gradosDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
          Grados de Gunplas
        </a>
        <div class="dropdown-menu" aria-labelledby="gradosDropdown">
          <a class="dropdown-item" href="#">Grado Alto</a>
          <a class="dropdown-item" href="#">Grado Real</a>
          <a class="dropdown-item" href="#">Grado Maestro</a>

        </div>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="escalasDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
          Escalas de Gunplas
        </a>
        <div class="dropdown-menu" aria-labelledby="escalasDropdown">
          <a class="dropdown-item" href="#">1/144</a>
          <a class="dropdown-item" href="#">1/100</a>
          <a class="dropdown-item" href="#">1/60</a>

        </div>
      </li>
    </ul>


    <div class="ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white;">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white;">Crear cuenta</a>
        </li>
      </ul>
    </div>


    <div class="mx-auto">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" style="background-color: white; color: #0033aa;">
        <button class="btn btn-outline-success" type="submit" style="border-color: #0033aa; color: #0033aa;">Buscar</button>
      </form>
    </div>
  </div>
</nav>
 -->

 <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="/src/assets/images/logo.png" alt="Logo" height="60" width="60">
    </a>

    <ul class="navbar-nav mx-auto">
      <li class="nav-item">

        <button class="btn btn-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <fa-icon [icon]="faBars"></fa-icon>
        </button>

      </li>
    </ul>
    <ul class="navbar-nav">
      <div class="search-box">
        <input type="text" placeholder="Type to search..">
        <div class="search-icon">
          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </div>
      </div>
    </ul>
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-custom" id="loginButton"><fa-icon [icon] = "faSignInAlt"></fa-icon> Iniciar Sesión</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-custom" id="signupButton"><fa-icon [icon] = "faUserPlus"></fa-icon> Crear Cuenta</button>
      </li>
    </ul> -->

    <app-login-menu></app-login-menu>
  </div>
</nav>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Hola, Piloto</h5>

    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">


    <div *ngIf="isAuthenticated | async">

      <h5>Mantenedor</h5>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link">Grade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Gunplas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Manufacturers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Scales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/maintainer/series']">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/maintainer/stores']">Stores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/maintainer/universes']">Universes</a>
        </li>
      </ul>

    </div>

    <h5>Buscar por Categoria</h5>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="gradosDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
          Grados de Gunplas
        </a>
        <div class="dropdown-menu" aria-labelledby="gradosDropdown">
          <a class="dropdown-item" href="#">Grado Alto</a>
          <a class="dropdown-item" href="#">Grado Real</a>
          <a class="dropdown-item" href="#">Grado Maestro</a>

        </div>
      </li>
    </ul>

    <ul class="navbar-nav dropend">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="escalasDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
          Escalas de Gunplas
        </a>
        <div class="dropdown-menu" aria-labelledby="escalasDropdown">
          <a class="dropdown-item" href="#">1/144</a>
          <a class="dropdown-item" href="#">1/100</a>
          <a class="dropdown-item" href="#">1/60</a>

        </div>
      </li>
    </ul>

  </div>
</div>
