<div class="card mt-3">
    <div class="card-header bg-primary">
      Editar Escala
    </div>
    <div class="card-body">
      <form [formGroup]="serieForm" (ngSubmit)="onSubmit()">
  
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>

        <div class="mb-3">
          <label for="franchiseId" class="form-label">Franquicia</label>
          <ng-select id="franchiseId" formControlName="franchiseId" bindLabel="name" bindValue="id" [items]="franchises" >
          </ng-select>
        </div>
    
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="serieForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
  </div>