@use '@src/variables.scss' as *;



.navbar{
  background-color: $darkBlue;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand{
  color: $green !important;
  font-weight: bold;
  font-size: 1.5rem;
}
