<div class="card mt-3">
  <div class="card-header bg-primary">
    Editar Producto
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="datos-tab" data-bs-toggle="tab" href="#datos" role="tab" aria-controls="datos" aria-selected="true">Datos</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="imagenes-tab" data-bs-toggle="tab" href="#imagenes" role="tab" aria-controls="imagenes" aria-selected="false">Imágenes</a>
      </li>
    </ul>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="datos" role="tabpanel" aria-labelledby="datos-tab">
        
          <div class="row mt-2">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="productName" formControlName="productName" placeholder="Nombre" required>
                <label for="productName" class="form-label">Nombre</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ng-select-container-custom mb-3">
                <label for="roleIds" class="floating-label">Escala</label>
                <ng-select [items]="scales()" bindValue="scaleId" bindLabel="scaleName" id="franchiseId" formControlName="scaleId" class="form-select ng-select-custom">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="ng-select-container-custom mb-3">
                <label for="roleIds" class="floating-label">Fabricante</label>
                <ng-select [items]="manufacturers()" bindValue="manufacturerId" bindLabel="manufacturerName" id="manufacturerId" formControlName="manufacturerId" class="form-select ng-select-custom">
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ng-select-container-custom mb-3">
                <label for="roleIds" class="floating-label">Franquicia</label>
                <ng-select [items]="franchises()" bindValue="franchiseId" bindLabel="franchiseName" id="franchiseId" formControlName="franchiseId" class="form-select ng-select-custom" (change)="onChangeFranchise()">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="ng-select-container-custom mb-3">
                <label for="roleIds" class="floating-label">Serie</label>
                <ng-select [items]="series()" bindValue="serieId" bindLabel="serieName" id="serieId" formControlName="serieId" class="form-select ng-select-custom">
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <select class="form-select" id="productHasBase" formControlName="productHasBase">
                  <option [ngValue]="true">Si</option>
                  <option [ngValue]="false">No</option>
                </select>
                <label for="productHasBase">Tiene Base</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input class="form-control" id="productTargetAge" formControlName="productTargetAge" placeholder="Edad de objetivo" required>
                <label for="productTargetAge">Edad de objetivo</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input class="form-control" id="productSize" formControlName="productSize" placeholder="Tamaño" required>
                <label for="productSize">Tamaño</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input class="form-control" type="date" id="productReleaseDate" formControlName="productReleaseDate" placeholder="Fecha de Lanzamiento" required>
                <label for="productReleaseDate">Fecha de Lanzamiento</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ng-select-container-custom mb-3">
                <label for="roleIds" class="floating-label">Categorias</label>
                <ng-select [items]="categories()" bindValue="categoryId" bindLabel="categoryName" [multiple]="true" id="categoryId" formControlName="categoryIds" class="form-select ng-select-custom">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="productDescription" formControlName="productDescription" style="resize: none;height: 200px;"></textarea>
            <label for="productDescription">Descripción</label>
          </div>

          
      </div>
      <div class="tab-pane fade" id="imagenes" role="tabpanel" aria-labelledby="imagenes-tab">
        <div class="form-floating mt-2 mb-3">
          <input type="file" class="form-control" id="productImages"  multiple>
          <label for="productImages">Subir Imágenes</label>
        </div>

        <h3 class="mt-3">Vista Previa</h3>


        @if (productImagePreview().length > 0) {
          <div id="carouselExampleIndicators" data-bs-theme="dark" class="carousel slide mt-3" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button *ngFor="let image of productImagePreview(); let i = index" type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null" [attr.aria-label]="'Slide ' + (i + 1)"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let image of productImagePreview(); let i = index" [class.active]="i === 0">
                <img [src]="image.base64 !== '' ? image.base64 : image.path" class="d-block w-50 mx-auto" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        }@else{
          <p class="text-center mt-3">No se han subido imágenes</p>
        }
       

      </div>
      
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn bg-primary me-2" [disabled]="productForm.invalid">Guardar</button>
      <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
  </div>
</div>