<div class="card mt-3">
    <div class="card-header bg-primary">
      Editar Categoria
    </div>
    <div class="card-body">
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    
        <div class="mb-3">
          <label for="categoryName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="categoryName" formControlName="categoryName" required>
        </div>

        <div class="mb-3">
            <label for="groupId" class="form-label">Grupo</label>
            <select class="form-select" formControlName="groupId">
                @for (group of groups(); track $index) {
                    <option [value]="group.groupId">{{ group.groupName }}</option>
                }
            </select>
        </div>

  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="categoryForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
  </div>