<button class="btn btn-header-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
  <fa-icon [icon]="adminIcon"></fa-icon> Admin
</button>



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Administrador</h5>
    <button type="button" class="btn-close" #btnCloseOffCanvas data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <div class="mb-3">
      <h5 class="mb-3">Gestion de Usuarios y Permisos</h5>

      <ul class="list-group">
          <li class="list-group-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/security/users" (click)="onClose()">
                  Usuarios del Sistema
              </a>
          </li>

          @if(isSuperAdmin){
              <li class="list-group-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="/security/roles" (click)="onClose()">
                      Permisos del Sistema
                  </a>
              </li>
          }
         
      </ul>
  </div>

    <div class="mb-3">
        <h5>Mantenedor</h5>
  
        <ul class="list-group">
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/categories']" (click)="onClose()">Categorias</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/communes']" (click)="onClose()">Comunas</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/configurations']" (click)="onClose()">Configuraciones</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/groups']" (click)="onClose()">Grupos</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/franchises']" (click)="onClose()">Franquicias</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/products']" (click)="onClose()">Productos</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/manufacturers']" (click)="onClose()">Fabricantes</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/inventories']" (click)="onClose()">Inventario</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/regions']" (click)="onClose()">Regiones</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/scales']" (click)="onClose()">Escalas</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/series']" (click)="onClose()">Series</a>
          </li>
          <li class="list-group-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/maintainer/stores']" (click)="onClose()">Tiendas</a>
          </li>
        </ul>
      </div>
        
  </div>
</div>