<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group col-md-6">
      <label for="gradeId">Grade</label>
      <select class="form-control" formControlName="gradeId">
        <option selected disabled>Choose...</option>
        <option *ngFor="let grade of grades" [ngValue]="grade.id">{{grade.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="scaleId">Scale</label>
      <select class="form-control" formControlName="scaleId">
        <option selected disabled>Choose...</option>
        <option *ngFor="let scale of scales" [ngValue]="scale.id">{{scale.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="manufacturerId">Manufacturer</label>
      <select  class="form-control" formControlName="manufacturerId">
        <option selected disabled>Choose...</option>
        <option *ngFor="let manufacturer of manufacturers" [ngValue]="manufacturer.id">{{manufacturer.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="serieId">Serie</label>
      <select class="form-control" formControlName="serieId">
        <option selected disabled>Choose...</option>
        <option *ngFor="let serie of series" [ngValue]="serie.id">{{serie.name}}</option>

      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="base">Base</label>
      <select class="form-control" formControlName="base">
        <option selected disabled>Choose...</option>
        <option value="true">Si</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="realeaseDate">RealeaseDate</label>
      <input type="date" class="form-control" formControlName="realeaseDate">
    </div>
  </div>
  <div class="form-group">
    <label for="description">Descripcion</label>
    <textarea class="form-control" rows="3" formControlName="description" ></textarea>
  </div>
  <div class="form-group">
    <label for="photos">Photos</label>
    <input type="file" class="form-control"  multiple (change)="selectFiles($event.target.files)">
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary float-right" >
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Crear
    </button>
  </div>

</form>

<br>
<br>


