<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">BuscaTuGunpla</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarGrade" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Grade
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarGrade">
              <li><a class="dropdown-item" href="#">Perfect Grade</a></li>
              <li><a class="dropdown-item" href="#">Master Grade</a></li>
              <li><a class="dropdown-item" href="#">Real Grade</a></li>
              <li><a class="dropdown-item" href="#">High Grade</a></li>
              <li><a class="dropdown-item" href="">Super Deformed</a></li>
              <li><a class="dropdown-item" href="">No Grade</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScale" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Scale
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScale">
              <li><a class="dropdown-item" href="#">1/48</a></li>
              <li><a class="dropdown-item" href="#">1/60</a></li>
              <li><a class="dropdown-item" href="#">1/100</a></li>
              <li><a class="dropdown-item" href="#">1/144</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown" [routerLinkActive]="['link-active']">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarAdministrator" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administrador
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarAdministrator">
              <li><a class="dropdown-item" [routerLink]="['/administrator/grades']">Grades</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administrator/gunplas']">Gunplas</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administrator/manufacturers']">Manufacturers</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administrator/scales']">Scales</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administrator/series']">Series</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administrator/universes']">Universes</a></li>
            </ul>
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>

