@use '@src/variables.scss' as *;




// .menu-link {
// 	display: block;
// 	padding: 10px 15px;
// 	color: $darkBlue;
// 	text-decoration: none;
// 	background: $white;
// 	border-radius: 5px;
// 	transition: all 0.3s ease;
// 	&:hover {
// 		background-color: $yellow;
// 		color: $red;
// 	}
//   &.expanded {
//     background-color: $yellow;
//     color: $red;
//   }
// }
// .sub-menu {
// 	margin-top: 5px;
//   padding-left: 20px;
// 	.dropdown-item {
// 		padding: 5px 10px;
// 		background-color: $white;
// 		color: $darkBlue;
// 		text-decoration: none;
// 		&:hover {
// 			background-color: $yellow;
// 			color: $red;
// 		}
// 	}
// }

