<ul class="navbar-nav" *ngIf="isAuthenticated | async">
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" id="navbarAdministrator" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <fa-icon [icon]="faUser"></fa-icon>
  </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarAdministrator">
    <li class="nav-item">
      <a class="dropdown-item" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
  </li>
  <li class="nav-item">
      <a class="dropdown-item" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">
        <fa-icon [icon]="faSignInAlt"></fa-icon> Logout
      </a>
  </li>
  </ul>
</li>


</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item dropdown" [routerLinkActive]="['link-active']">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarAdministrator" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <fa-icon [icon]="faUser"></fa-icon>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarAdministrator">
      <li><a class="dropdown-item" [routerLink]="['/authentication/register']"> Registrarse</a></li>
      <li><a class="dropdown-item" [routerLink]="['/authentication/login']"><fa-icon [icon]="faSignInAlt"></fa-icon> Iniciar Sesión</a></li>
    </ul>
  </li>
</ul>

