<!-- <ul class="navbar-nav" *ngIf="isAuthenticated | async">
  <li class="nav-item">
      <a  class="btn-login-menu" [routerLink]='["/authentication/profile"]' title="Manage">Hola {{ userName | async }}</a>
  </li>
  <li class="nav-item">
      <a  class="btn-login-menu" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Cerrar Sesión</a>
  </li>
</ul>
<ul class="navbar-nav" *ngIf="(isAuthenticated | async) !== true">
    <li class="dropdown">
        <a class="btn-login-menu dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <fa-icon [icon]="faUser"></fa-icon> 
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/authentication/register']">
            <fa-icon [icon]="faUserPlus"></fa-icon> Registrarse
          </a>
          <a class="dropdown-item" [routerLink]="['/authentication/login']">
            <fa-icon [icon]="faSignInAlt"></fa-icon> Iniciar Sesión
          </a>
        </div>
      </li>
</ul> -->

<div class="d-grid d-flex" *ngIf="(isAuthenticated | async) !== true">
  <a class="btn btn-login-menu me-md-2" [routerLink]="['/authentication/register']">
    <fa-icon [icon]="faUserPlus"></fa-icon> 
  </a>
  <a class="btn btn-login-menu" [routerLink]="['/authentication/login']">
    <fa-icon [icon]="faSignInAlt"></fa-icon> 
  </a>
</div>

<div class="d-grid d-flex" *ngIf="isAuthenticated | async">
  <a class="btn btn-login-menu me-md-2" [routerLink]="['/authentication/profile']">
    <fa-icon [icon]="faUser"></fa-icon>  Perfil
  </a>
  <a class="btn btn-login-menu" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Cerra Sesión">
    <fa-icon [icon]="faSignOutAlt"></fa-icon> 
  </a>
</div>