@import 'src/variables.scss';

.btn-login-menu{
  background-color: $darkBlue;
  color: $green;
  border: 1px solid $green;
  padding: 10px 20px;
  border-radius: 50px;
  margin-right: 10px;

  i{
    margin-right: 10px; /* Adjust the spacing between the icon and text */
  }
}

.dropdown-item:hover {
  background-color: $yellow; /* Azul similar al Nu Gundam */
  color: black;
}

.dropdown-menu{
  background-color: $darkBlue;
}

.dropdown-item{
  color: white;
}
