<div class="card mt-3">
    <div class="card-header bg-primary">
      Editar Grupo
    </div>
    <div class="card-body">
      <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
    
        <div class="mb-3">
          <label for="groupName" class="form-label">Nombre Grupo</label>
          <input type="text" class="form-control" id="groupName" formControlName="groupName" required>
        </div>

  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="groupForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
  </div>