/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */


// Modifica las variables de colores de Bootstrap
// $primary: #0033aa; // Color principal de Gundam Original
// $secondary: #ff0000; // Color secundario de Gundam Original
// $success: #00ff00; // Color de éxito
// $info: #00ccff; // Color de información
// $warning: #ffcc00; // Color de advertencia
// $danger: #ff0000; // Color de peligro




@import './variables.scss';


button:disabled{
  color:$white !important;
}


.bg-primary{
  background-color: $darkBlue !important;
  color:$white;
}

.bg-danger{
  background-color: $red !important;
  color: $white;
}

.bg-success{
  background-color: $green !important;
  color: $white;
}

.bg-secundary{
  background-color: $secundary !important;
  color:$white;
}

.page-item{
  .page-link{
    color:$darkBlue;
  }
  &.active{
    .page-link{
      background-color: $darkBlue;
      color:$white;
    }
  }
}


/* You can add global styles to this file, and also import other style files */
.notificacion-success {
  background-color: #198754 !important; /* Fondo verde */
  color: white;
}

/* Estilos personalizados para la notificaci�n de error */
.notificacion-error {
  background-color: #dc3545 !important; /* Fondo rojo para notificaci�n de peligro */
  color: white;
}

.btn-header-menu{
  background-color: $darkBlue;
  color: $green;
  border: 1px solid $green;
  margin-right: 10px;

  i{
    margin-right: 10px; /* Adjust the spacing between the icon and text */
  }
}

.offcanvas{
  background-color: $darkBlue;
  color:$white;

  .offcanvas-header{
    border-bottom: 1px solid white
  }
}