/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */


// Modifica las variables de colores de Bootstrap
// $primary: #0033aa; // Color principal de Gundam Original
// $secondary: #ff0000; // Color secundario de Gundam Original
// $success: #00ff00; // Color de éxito
// $info: #00ccff; // Color de información
// $warning: #ffcc00; // Color de advertencia
// $danger: #ff0000; // Color de peligro




@import './variables.scss';


button:disabled{
  color:$white !important;
}


.bg-primary{
  background-color: $darkBlue !important;
  color:$white;
}

.bg-danger{
  background-color: $red !important;
  color: $white;
}

.bg-success{
  background-color: $green !important;
  color: $white;
}

.bg-secundary{
  background-color: $secundary !important;
  color:$white;
}

.page-item{
  .page-link{
    color:$darkBlue;
  }
  &.active{
    .page-link{
      background-color: $darkBlue;
      color:$white;
    }
  }
}


/* You can add global styles to this file, and also import other style files */
.notificacion-success {
  background-color: #198754 !important; /* Fondo verde */
  color: white;
}

/* Estilos personalizados para la notificaci�n de error */
.notificacion-error {
  background-color: #dc3545 !important; /* Fondo rojo para notificaci�n de peligro */
  color: white;
}

.btn-header-menu{
  background-color: $darkBlue;
  color: $green;
  border: 1px solid $green;
  margin-right: 10px;

  i{
    margin-right: 10px; /* Adjust the spacing between the icon and text */
  }
}

.offcanvas{
  background-color: $darkBlue;
  color:$white;

  .offcanvas-header{
    border-bottom: 1px solid white
  }
}

.ng-select-container-custom {
  position: relative;
}

.floating-label {
  position: absolute;
  top: 0.1rem;
  left: 0.75rem;
  background-color: white;
  font-size: 0.9rem;
  color: #6c757d;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  z-index: 1; /* Label siempre visible por encima del select */
}

.ng-select-custom .ng-select-container {
  border: none; /* Quita el borde del ng-select */
  box-shadow: none; /* Elimina cualquier sombra del borde */
  height: calc(2.5rem + 2px); /* Altura ajustada para coincidir con el estilo Bootstrap */
  padding-top: 0.3rem;
  margin-top: 1.2rem;
}

.ng-select-custom {
  display: flex;
  align-items: center; /* Centrado vertical */
  padding: 0;
}

.ng-select-custom .ng-select-container:focus,
.ng-select-custom .ng-select-container.ng-select-focused {
  border: none; /* Elimina el borde cuando está enfocado */
  box-shadow: none; /* Elimina la sombra al hacer foco */
}

.ng-select-custom.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: transparent; /* Elimina el borde */
  box-shadow: none; /* Elimina cualquier sombra adicional */
}



