<div class="card mt-3">
    <div class="card-header bg-primary">
      Editar Grupo
    </div>
    <div class="card-body">
      <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
    
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="menuName" formControlName="menuName" placeholder="Nombre" required>
          <label for="menuName" class="form-label">Nombre</label>
        </div>

  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="menuForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
  </div>