<div class="card mt-3">
    <div class="card-header bg-primary">
      Crear Configuración
    </div>
    <div class="card-body">
      <form [formGroup]="configurationForm" (ngSubmit)="onSubmit()">
    
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="configurationName" formControlName="configurationName" placeholder="Nombre" required>
          <label for="configurationName" class="form-label">Nombre</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="configurationValue" formControlName="configurationValue" placeholder="Nombre" required>
            <label for="configurationValue" class="form-label">Valor</label>
          </div>
  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="configurationForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
  </div>