<div class="card mt-3">
    <div class="card-header bg-primary">
      Universos
    </div>
    <div class="card-body">
      <form [formGroup]="universeForm" (ngSubmit)="onSubmit()">
  
        <!-- <input type="checkbox" id="active" formControlName="active" hidden /> -->
  
        <div class="mb-3">
          <label for="name" class="form-label">Nombre del Universo:</label>
          <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>
  
        <div class="mb-3">
          <label for="name" class="form-label">Sigla:</label>
          <input type="text" class="form-control" id="acronym" formControlName="acronym" required>
        </div>
  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="universeForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
  </div>
  