<!-- <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">BuscaTuGunpla</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarGrade" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Grade
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarGrade">
              <li><a class="dropdown-item" href="#">Perfect Grade</a></li>
              <li><a class="dropdown-item" href="#">Master Grade</a></li>
              <li><a class="dropdown-item" href="#">Real Grade</a></li>
              <li><a class="dropdown-item" href="#">High Grade</a></li>
              <li><a class="dropdown-item" href="">Super Deformed</a></li>
              <li><a class="dropdown-item" href="">No Grade</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScale" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Scale
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScale">
              <li><a class="dropdown-item" href="#">1/48</a></li>
              <li><a class="dropdown-item" href="#">1/60</a></li>
              <li><a class="dropdown-item" href="#">1/100</a></li>
              <li><a class="dropdown-item" href="#">1/144</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown" [routerLinkActive]="['link-active']">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarAdministrator" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administrador
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarAdministrator">
              <li><a class="dropdown-item" [routerLink]="['/administrator/grades']">Grades</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administrator/gunplas']">Gunplas</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administrator/manufacturers']">Manufacturers</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administrator/scales']">Scales</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administrator/series']">Series</a></li>
              <li><a class="dropdown-item" [routerLink]="['/administrator/universes']">Universes</a></li>
            </ul>
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>
 -->

 <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">BuscaTuGunpla</a>
      <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!isMenuCollapsed" aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" [class.collapse]="isMenuCollapsed" id="navbarContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" ngbDropdown>
            <a class="nav-link text-white" tabindex="0" ngbDropdownToggle id="navbarGrade" role="button">
              Grade
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarGrade" class="dropdown-menu">
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Perfect Grade</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Master Grade</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Real Grade</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">High Grade</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Super Deformed</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">No Grade</a>
            </div>
          </li>

          <li class="nav-item" ngbDropdown>
            <a class="nav-link text-white" tabindex="0" ngbDropdownToggle id="navbarScale" role="button">
              Scale
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarScale" class="dropdown-menu dropdown-menu">
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">1/48</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">1/60</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">1/100</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">1/144</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" ngbDropdown>
            <a class="nav-link text-white" tabindex="0" ngbDropdownToggle id="navbarAdministrator" role="button">
              Administrator
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarAdministrator" class="dropdown-menu">
              <a ngbDropdownItem [routerLink]="['/administrator/grades']">Grades</a>
              <a ngbDropdownItem [routerLink]="['/administrator/gunplas']">Gunplas</a>
              <a ngbDropdownItem [routerLink]="['/administrator/manufacturers']">Manufacturers</a>
              <a ngbDropdownItem [routerLink]="['/administrator/scales']">Scales</a>
              <a ngbDropdownItem [routerLink]="['/administrator/series']">Series</a>
              <a ngbDropdownItem [routerLink]="['/administrator/universes']">Universes</a>
            </div>
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
 </header>
