<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasRightLabel">
    <i class="bi bi-person-gear"></i> Administración
  </h5>
  <button type="button" class="btn-close btn-close-white" aria-label="Close"(click)="activeOffcanvas.dismiss()"></button>
</div>
<div class="offcanvas-body">
  <div class="mb-3">
        
        <h5>
            <i class="bi bi-shield-lock-fill"></i> Seguridad
        </h5>

        <a class="nav-link" routerLink="/security/users" routerLinkActive="active" (click)="activeOffcanvas.dismiss()">
            <i class="bi bi-people-fill"></i> Usuarios
        </a>
        <a class="nav-link" routerLink="/security/roles" routerLinkActive="active" (click)="activeOffcanvas.dismiss()">
            <i class="bi bi-shield-lock-fill"></i> Permisos
        </a>
    </div>
    <div class="mb-3">

        <h5>
            <i class="bi bi-tools"></i> Mantenimiento
        </h5>

        @for (item of maintanerLinks; track $index) {
            <a class="nav-link" [routerLink]="item.link" routerLinkActive="active" (click)="activeOffcanvas.dismiss()">
                <i class="{{item.icon}}"></i> {{item.label}}
            </a>
        }
    </div>
</div>