<div class="card mt-3">
    <div class="card-header bg-primary">
      Crear Inventario
    </div>
    <div class="card-body">
      <form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
    
        <div class="ng-select-container-custom mb-3">
            <label for="roleIds" class="floating-label">Producto</label>
            <ng-select [items]="products()" bindValue="productId" bindLabel="productName" id="productId" formControlName="productId" class="form-select ng-select-custom">
            </ng-select>
        </div>

        <div class="ng-select-container-custom mb-3">
            <label for="roleIds" class="floating-label">Tienda</label>
            <ng-select [items]="stores()" bindValue="storeId" bindLabel="storeName" id="storeId" formControlName="storeId" class="form-select ng-select-custom">
            </ng-select>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="price" formControlName="price" placeholder="Nombre" required>
            <label for="price" class="form-label">Precio</label>
        </div>

  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn bg-primary me-2" [disabled]="inventoryForm.invalid">Guardar</button>
          <button type="button" class="btn bg-secundary" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
  
  
    </div>
</div>